<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="wsCalculadoraSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="wsCalculadoraSoap1" />
                <binding name="wsCalculadoraSoap2">
                    <security mode="Transport" />
                </binding>
                <binding name="wsCalculadoraSoap3" />
                <binding name="wsCalculadoraSoap4">
                    <security mode="Transport" />
                </binding>
                <binding name="wsCalculadoraSoap5" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44358/wsCalculadora.asmx"
                binding="basicHttpBinding" bindingConfiguration="wsCalculadoraSoap"
                contract="wsOperaciones.wsCalculadoraSoap" name="wsCalculadoraSoap" />
            <endpoint address="https://localhost:44358/wsCalculadora.asmx"
                binding="basicHttpBinding" bindingConfiguration="wsCalculadoraSoap2"
                contract="wsCalculadora.wsCalculadoraSoap" name="wsCalculadoraSoap1" />
            <endpoint address="https://localhost:44358/wsCalculadora.asmx"
                binding="basicHttpBinding" bindingConfiguration="wsCalculadoraSoap4"
                contract="servicio.wsCalculadoraSoap" name="wsCalculadoraSoap2" />
        </client>
    </system.serviceModel>
</configuration>